html, body{ height:100%}
body{font-size:14px}
.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1; background:#3283AC url(img/admin-login-bg.jpg) no-repeat center}
.loginBox{ position:absolute; width:617px; height:330px; background:url(img/admin-loginform-bg.png) no-repeat; left:50%; top:50%; margin-left:-309px; margin-top:-184px; padding-top:38px}
.loginBox .layui-col-xs3{ width:25%; }
.loginBox .layui-col-xs8{ margin-left:0;}









