.air_input_readonly{ border:0 none !important;}
.fee-box{
	float: left;
    margin: 0 60px;
    text-align: center;
}
.fee-box p.lab{
	line-height: 2;
    margin-bottom: 10px;
}
.fee-box p.fee{
	line-height: 2;
    font-size: 18px;
}
.fee-box p.fee span{
	color: red;
}
.fee-line{
border: 1px solid #eeeeee;
    float: left;
    margin-top: 3px;
    height: 60px;}
.layui-form-radio{
  float: left;
  min-width: 500px;
  display: block !important;
}