<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efrobot.robotstore.baseapi.manager.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="STATUS_QX" property="statusQx" jdbcType="VARCHAR" />
    <result column="BUTTON_QX" property="buttonQx" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="exp1" property="exp1" jdbcType="VARCHAR" />
    <result column="exp2" property="exp2" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, ROLE_NAME, STATUS_QX, BUTTON_QX, MENU_ID, exp1, exp2
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
  <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role (ROLE_NAME, STATUS_QX, 
      BUTTON_QX, MENU_ID, exp1, 
      exp2)
    values (#{roleName,jdbcType=VARCHAR}, #{statusQx,jdbcType=VARCHAR}, 
      #{buttonQx,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{exp1,jdbcType=VARCHAR}, 
      #{exp2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
  <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="statusQx != null" >
        STATUS_QX,
      </if>
      <if test="buttonQx != null" >
        BUTTON_QX,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="exp1 != null" >
        exp1,
      </if>
      <if test="exp2 != null" >
        exp2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="statusQx != null" >
        #{statusQx,jdbcType=VARCHAR},
      </if>
      <if test="buttonQx != null" >
        #{buttonQx,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="exp1 != null" >
        #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        #{exp2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
 
  <update id="updateByPrimaryKeySelective" parameterType="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
    update sys_role
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="statusQx != null" >
        STATUS_QX = #{statusQx,jdbcType=VARCHAR},
      </if>
      <if test="buttonQx != null" >
        BUTTON_QX = #{buttonQx,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="exp1 != null" >
        exp1 = #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        exp2 = #{exp2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
    update sys_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      STATUS_QX = #{statusQx,jdbcType=VARCHAR},
      BUTTON_QX = #{buttonQx,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      exp1 = #{exp1,jdbcType=VARCHAR},
      exp2 = #{exp2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByParms" resultMap="BaseResultMap" parameterType="com.efrobot.robotstore.baseapi.manager.pojo.SysRole" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where 1=1
	<if test="roleName != null and !roleName.isEmpty() and roleName != ''">
		and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
	</if>
  </select>
</mapper>